/* inspiration: http://themes.getbootstrap.com/preview/?theme_id=1468 */

/* html {
width: 100%
} */

/* body {
width: 100%;
display: block;
margin: 0px;
margin-top: 0px;
margin-right: 0px;
margin-bottom: 0px;
margin-left: 0px;
} */

#mainBody {
margin: 0 auto;
width: 1500px;
margin-right: auto;
margin-left: auto;
max-width: 1600px; /* or 950px */

}

/* context-menu */

#right-click-menu{
background: #FAFAFA;
border: 1px solid #BDBDBD;
box-shadow: 0 2px 2px 0 rgba(0,0,0,.14),0 3px 1px -2px rgba(0,0,0,.2),0 1px 5px 0 rgba(0,0,0,.12);
display: block;
list-style: none;
margin: 0;
padding: 0;
position: absolute;
width: 250px;
z-index: 999999;
}

#right-click-menu li {
border-bottom: 1px solid #E0E0E0;
margin: 0;
padding: 5px 35px;
}

#right-click-menu li:last-child {
border-bottom: none;
}

#right-click-menu li:hover {
background: #1E88E5;
color: #FAFAFA;
}

/* context-menu */

/* .global {
margin: 0 auto;
width: 1500px;
margin-right: auto;
margin-left: auto;
max-width: 1600px;
} */

/* @media (min-width: 1800px)
.container {
max-width: 2000px;
} */

/* .container {
width: 1600px;
m
} */


/* set a max-width for horizontal fluid layout and make it centered */
.container-fluid {
margin-right: auto;
margin-left: auto;
max-width: 1600px; /* or 950px */
}

/* @media (max-width:1500px) */

/* width: 1050px; */
svg {
fill: #fff;
}

svg text {
fill: #000;
}

/* adding new class */
.listStyle {
color: ''
}

@keyframes show {
from {
opacity: 0;
transform: translateY(5px);
}

to {
opacity: 1;
transform: translateY(-10px);
}
}

@keyframes spinner-line-fade-more {

0%,
100% {
opacity: 0;
/* minimum opacity */
}

1% {
opacity: 1;
}
}

@keyframes spinner-line-fade-quick {

0%,
39%,
100% {
opacity: 0.25;
/* minimum opacity */
}

40% {
opacity: 1;
}
}

@keyframes spinner-line-fade-default {

0%,
100% {
opacity: 0.22;
/* minimum opacity */
}

1% {
opacity: 1;
}
}

.d3-tip.show {
animation-name: show;
animation-duration: 300ms;
animation-fill-mode: forwards;
animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
}

/* d3-tip style */
.d3-tip {
font-family: sans-serif;
line-height: 1;
font-weight: bold;
padding: 12px;
background-color: rgba(0, 0, 0, 0.8);
color: #fff;
border-radius: 2px;
pointer-events: none;
z-index: 9999999;
}

/* Creates a small triangle extender for the tooltip */
.d3-tip::after {
box-sizing: border-box;
position: absolute;
font-size: 10px;
line-height: 1;
color: rgba(0, 0, 0, 0.8);
content: "\25BC";
left: 50%;
top: 100%;
-webkit-transform: translate(-50%, 0);
-moz-transform: translate(-50%, 0);
-ms-transform: translate(-50%, 0);
-o-transform: translate(-50%, 0);
transform: translate(-50%, 0);
pointer-events: none;
z-index: 9999999;
}

rect {
shape-rendering: crispEdges;
}

text {
font-family: BlinkMacSystemFont, -apple-system, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, Helvetica, Arial, sans-serif;
}

.leaflet-control-fullscreen a {
background-color: #fff;
background-image: url(../assets/images/fullscreen.png);
background-repeat: no-repeat;
background-size: 26px 52px;
background-position: 0px 0px;
}

.d3-metric text {
cursor: pointer;
}

.d3-timeline .entry--point--default {
fill: #896bda;
stroke: #896bda;
stroke-opacity: 1;
cursor: pointer;
}

.d3-timeline .entry--point--error {
fill: #ff3860;
;
stroke: #ff3860;
stroke-opacity: 1;
cursor: pointer;
}

.d3-timeline .entry--point--success {
fill: #23d160;
;
stroke: #23d160;
stroke-opacity: 1;
cursor: pointer;
}


/* component transformation */

.fade-enter-active,
.fade-leave-active {
transition: opacity .5s;
}

/* Network */

.node {
cursor: pointer;
}

.overlay {
background-color: #EEE;
}

.node circle {
fill: #fff;
stroke: steelblue;
stroke-width: 1.5px;
}

.node text {
font-size: 10px;
font-family: sans-serif;
}

.link {
fill: none;
stroke: #ccc;
stroke-width: 1.5px;
}

.templink {
fill: none;
stroke: red;
stroke-width: 3px;
}

.ghostCircle.show {
display: block;
}

.ghostCircle,
.activeDrag .ghostCircle {
display: none;
}


/* Small-Multiples */

.smallMultiples {
font: 10px sans-serif;
margin: 0;
}

.line {
fill: none;
stroke: #999;
stroke-width: 1.5px;
}

/* .area { */
/* fill: #e7e7e7; */
/* } */


/* CSS-Test */

/* .testClass * {

box-sizing: border-box;
position: absolute;
display: block;
height: $height;
bottom: $height * -2;
transform: translateX(5%);
font-size: .95em;
text-align: center;
line-height: $height;
border: 1px solid transparent;
border-radius: 3px;
background: #342;
color: #fff;
transition: all .3s;

} */